.container {
  font-size: 1.3rem;
}
ul {
  padding: 0 0 0 20px;
}
.btn{
  font-size: 14px;
  margin-right:5px;
}
.form-control{
  font-size: 14px;
}
.form-group {
  margin-bottom: 0 !important;
}
div.col-md-9 {
  padding-bottom: 0;
}
div.col-md-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.table-container {
  background: #FFFFFF;
  background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
  background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
  background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
  background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
  border: none;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
.table-body{
  overflow-y: auto;
  max-height: 500px;
}
.table-th {
  font-weight: bold;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
.table-td {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.428571;
}
.td-slim{
  padding-top: 8px;
  padding-bottom: 8px;
}
.table-header {
  text-align: center;
}
.table-row {
  color: #222;
  border-bottom: 1px solid rgba(0,0,0,0.065);
}
.table-thead {
  display: flex;
  align-items: center;
  background: #847c7c;
  color: #fff;
}
.thead-row{
  display: flex;
  align-items: center;
}
.table-row:nth-of-type(odd) {
  background: #f1f1f1;
}
.row-botton {
  background: #d9d9d9;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  background: #847c7c;
  color: #fff;
  font-weight: bold;
  outline: none;
}
.search-box {
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}
.search-options {
  /*border-top: 1px solid black;*/
  width: 270px;
  text-align: left;
  margin-left: calc(50% - 12.2em);
}
.search-radio{
  margin: 0;
  padding: 5px;
}
.search-checkbox{
  border-top: 1px solid rgba(0,0,0,0.065);
  margin: 0;
  padding: 5px;
}
.form-control {
  display: inline-block;
  width: 21em;
}
.suggest-container {
  position: relative;
  float: left;
  width: 100%;
}
.suggestArea{
  float:left;
  width:22.35em;
  height: auto;
  display:none;
  background-color: #fff;
  vertical-align: top;
  box-shadow: 0 2px 3px 3px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  position: absolute;
  top: 0;
  left: calc(50%  - 12.2em);
  z-index:100;
}
.suggestArea div{
  line-height: 1.8em;
  font-size:0.9em;
  width:100%;
  float:left;
  text-align: left;
}
.suggestArea div:hover{
  background-color: #f0f0f0;
}
.suggestArea label{
  float:right;
  font-weight:bold;
  margin-right:0.2em;
  margin-bottom:0;
}
.suggestArea .selected{
  background-color: #f0f0f0;
}
.ref-box{
  position:absolute;
  top:calc(2rem + 1em);
  right:15%;
}
@media (max-width: 930px) {
  .ref-box{
    position: initial;
  }
}
.btn-container{
  margin-top: 10px;
  margin-bottom: 10px;
}
.div-list{
  height:30em;
  width:100%;
  float:left;
  width:100%;
}
.div-list div{
  float:left;
  width:100%;
  display:block;
}
.div-list table{
  font-size:1em;
}
.left_label{
  float:left;
  width:45%;
  font-weight: bold;
  height:1.5em;
}
.right_label{
  float:left;
  margin-left: calc(9% + 1px);
  font-weight:bold;
  height:1.5em;
}
.btn-submit-large{
/*  color:white;
  background-color:#4486F3;
  border:1px solid #4486F3;
  transition: background 0.25s ease-in-out;
  cursor:pointer;
  padding: 5px 10px 5px 10px;
  border-radius:0.3em;
  line-height: 3em;*/
  margin-left: 4em;
}
.div-message{
  float:left;
  height:2em;
  width:100%;
  color: red;
  text-align: center;
  line-height: 2em;
}
.div-result{
  width:100%;
  height:auto;
  float:left;
}
.cp_result_title{
  width:100%;
  float:left;
  text-align: center;
  font-weight: bold;
}
.option-left{
  float:left;
  margin-left: 0.5em;
}
.option-right{
  float:right;
  margin-right: 0.5em;
}
.row-undisplay{
  display:none;
}
.info{
  text-align: center;
  margin: 2em;
}
.border-l{
  border-left: 1px solid rgba(0,0,0,0.065);
}
.border-r{
  border-right: 1px solid rgba(0,0,0,0.065);
}
.border-b{
  border-bottom: 1px solid rgba(0,0,0,0.065);
}
.border-t{
  border-top: 1px solid rgba(0,0,0,0.065);
}
table {
  border: none;
  table-layout: fixed;
  word-wrap: break-word;
}
table.treetable {
    font-size: 1em;
}
table.treetable tbody tr td {
  padding: .5em 1em;
}
table.treetable div.value {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAY1BMVEXR2jz/yUsAAAC2bQDtpwD3xVj7yV9HcEzuuWHxZgCjZgDEFADPoTDntj/hrCrrvkj53GX82V34xEb/kgD96nb/4WX+3X//3Xz/0nT/4nP+0FP/4G7+12L+0F//4IT/6nP/3XBhD2UQAAAAH3RSTlMB/AQVDU+HAAIIGQ1qllyc8e2LB/v36emC+P38/f32haIbSgAAAHxJREFUeF51jwcKwCAMRWPrSPfey/ufsiFaWoR+SfjvgYhggngBiPAViDws/Oq6p/NINc9KOmDW43mOWjoCMGqyQthJUSeBJtHLKsS66ISARTvsx7EPrRN0yubatqspga+QjYu67+sipupfSvOqylMPnCjLItfg3fD3uSA3pDoIuHIhHysAAAAASUVORK5CYII=');
}
.table .table {
  background-color: transparent;
}
.ui-widget {
  font-size: 1.2em;
}
.ui-widget-content a {
  color: #1a527a;
}
.ui-dialog .ui-dialog-titlebar-close {
  width: 25px;
  margin: -14px 0 0 0;
  height: 25px;
  color: #ffffff;
  background-color: #798d8f;
  border-color: #566566;
}
.data-table-head{
  background: #847c7c;
  color: #fff;
  font-weight: bold;
}
.data-table-row{
  border-bottom: 1px solid rgba(0,0,0,0.065);
}
.trs-checkbox{
  display: inline-block;
  float: right;
}
/*.data-table-row:nth-of-type(odd) {
  background: #f1f1f1;
}*/

.row-flex{
  display:flex;
  align-items: stretch;
/*  height: 100%;*/
}
.row-toggle{
  display:none;
}
.word-break{
  word-wrap: break-word;
}
.links{
  padding-left:8px;
}
.show-more{
  padding-left:8px;
}
.gdc-details{
  margin-bottom: 10px;
  display: inline-block;
}
.dropdown-head{
  min-width: 10em;
  display:block;
  font-size: 0.9em;
}
/* The container <div> - needed to position the dropdown content */
.dropdown-box {
  position: relative;
  display: inline-block;
  text-align:center;
  /*margin-left:calc(25% - 14em);*/
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 0.9em;
  min-width: 10em;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  /*padding: 12px 16px;*/
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}
/* Show the dropdown menu on hover */
.dropdown-box:hover .dropdown-content{
  display: block;
}
.dropdown-box:hover .dropdown-head{
  display: block;
  background-color: #f1f1f1;
  min-width: 10em;
}
.dropdown-box:hover{
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
.w20{
  width:20%;
}
.w50{
  width:50%;
}
.w60{
  width:60%;
}
.w80{
  width:80%;
}
.w100{
  width:100%;
}
#compare_result{
  height:33em;
}
/*#compareGDC_result{
  height:33em;
}*/
/*#cp_result_table{
  width:100%;
  float:left;
  height:20em;
  overflow: auto;
}*/
/*#cpGDC_result_table{
  width:100%;
  float:left;*/
  /*height:20em;
  overflow: auto;
}*/
#cp_result_option{
  width:100%;
  float:left;
}
#cpGDC_result_option{
  width:100%;
  float:left;
}
#cp_result_table table{
  font-size:1em;
  text-align: center;
}
#cpGDC_result_table table{
  font-size:1em;
  text-align: center;
}
#cp_result_massage{
  width:100%;
  float:left;
  height:10em;
  overflow: auto;
}
#cp_result_massage label{
  width:100%;
  float:left;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
}
#cp_result_massage div{
  width:33%;
  float:left;
}
#cp_result_bottom{
  float:left;
  height:3em;
  padding-left:calc(50% - 10px - 7em);
}
#cpGDC_result_bottom{
  float:left;
  height:3em;
  width:100%;
}

#cp_title{
  width:100%;
  float:left;
}
#cp_top{
  width:100%;
  float:left;
  height:31em;
}
#cp_left{
  width:45%;
  float:left;
  height:100%;
}
#cp_left textarea{
  height:28.5em;
  width:98%;
  outline:none;
  resize:none;
}
#cp_middle{
  width:4%;
  float:left;
  height:28.5em;
  margin-right:5%;
  border-right: 1px dashed #bbb;
}
#cp_right{
  width:45%;
  float:left;
  height:calc(28.5em - 2px);
  overflow: auto;
  border:1px solid #888;
}
#cp_bottom{
  height:3em;
  float:left;
  padding-left: calc(50% - 12em - 20px);
}
