.cde-suggest {
  font-size: 0.8em;
}

.table__row--striped:nth-of-type(even) {
    background: #fafafa;
}

.table__row--flex{
  display: flex;
  align-items: stretch;
}

.table__values {
  border-left: 1px solid #ecf0f1;
}

.table__value-row {
  display: flex;
  align-items: stretch;
}

.table__center{
  text-align: center;
}

.table__gdc-values {
  border-right: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
}

.table__cde-values {
  border-bottom: 1px solid #ecf0f1;
}

.table__ico3-code {
  color: #2a72a4;
  white-space: nowrap;
}

.table__row-syn{
  margin-bottom: 10px;
}

.table__row-syn:last-child{
  margin-bottom: 0;
}

.table__ul{
  padding-left: 20px;
  list-style:none;
}

.table__li:before{
  font-family: 'FontAwesome';
  content: '\f107';
  display: inline-block;
  margin:0 5px 0 -15px;
  color: #acacac;
  transform: rotate(45deg);
}

.table__row--toggle {
  display: none;
}

.dropdown-menu__gdc-links > li > a {
  font-size: 1.3rem;
  color: #3a3a3a;
}

.dropdown-menu__gdc-links > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #2079BB;
}

.dropdown-header__gdc-links {
  font-weight: bold;
  color: #888888;
  font-size: 13px;
}
