.cde-suggest {
  font-size: 0.8em;
}

.table__row--striped:nth-of-type(even) {
    background: #fafafa;
}

.table__row--flex{
  display: flex;
  align-items: stretch;
}

.table__values {
  border-left: 1px solid #ecf0f1;
}

.table__value-row {
  display: flex;
  align-items: stretch;
}

.table__right{
  text-align: right;
}

.table__gdc-values {
  border-right: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
}

.table__cde-values {
  border-bottom: 1px solid #ecf0f1;
}

.table__ico3-code {
  color: #2a72a4;
  white-space: nowrap;
}

.table__row-syn{
  margin-bottom: 10px;
}

.table__row-syn:last-child{
  margin-bottom: 0;
}

.table__ul{
  padding-left: 15px;
  list-style:none;
}

.table__li:before{
  font-family: 'FontAwesome';
  content: '\f107';
  display: inline-block;
  margin:0 5px 0 -15px;
  color: #acacac;
  transform: rotate(45deg);
}

.table__row--toggle {
  display: none;
}

.nav-tabs-gdc > li {
  display: flex;
  justify-content: flex-start;
}

.nav-tabs-gdc  > li > a {
  padding: 8px 15px;
  border: 1px solid #e6e6e6;
  margin-bottom: 3px;
  border-radius: 6px 6px 0 0;
  border-bottom-width: 3px;
  border-bottom-color: #95a1a1;
  color: #95a1a1;
  background-color: #F4F4F4;
}

.nav-tabs-gdc > li > a:hover,
.nav-tabs-gdc > li > a:focus {
  background-color: #FAFAFA;
  border-bottom-width: 3px;
  border-bottom-color: #6A7676;
  color: #6A7676;
}

.nav-tabs-gdc > li > a.active {
  border: 1px solid #e6e6e6;
  color: #2079BB;
  border-bottom-width: 3px;
  border-bottom-color: #2079BB;
  background-color: #ffffff;
}

.nav-tabs-gdc > li.active > a:hover,
.nav-tabs-gdc > li.active > a:focus {
  border-bottom-width: 3px;
  color: #2079BB;
  border-bottom-color: #19659E;
}

.tab-pane-gdc {
  background-color: #fff;
  padding: 0 1em;
}
