/* General Styles */
html {
  font-size: 10px;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(249, 249, 249);
  color: #3a3a3a;
  line-height: 2rem;
}

body {
  min-width: 970px;
}

#body {
  min-height: 640px;
  margin-top: 0 !important;
}

a,
a:link,
a:visited,
a:hover,
a:focus {
  color: #2a72a4;
  text-decoration: none;
}

.gdc-app-list a {
  color: inherit;
}

/* Main Container */
.parent-container {
  position: relative;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  min-height: 100vh;
}

.container {
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.main-container {
  font-size: 1.3rem;
  min-height: calc(100vh - 283px);
  padding: 2rem;
  padding-bottom: 123px;
}

/* Info Content */
.info-content {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}

/* Footer */
footer {
  background-color: #123e57;
  border-top: 6px solid #8c8686;
  border-bottom: none;
  color: #97abb6;
  padding: 0.5rem 3rem;
  z-index: 100;
  width: 100%;
  /* margin: 0rem 0rem 0.5rem 0rem; */
  font-size: 1.2rem;
  line-height: 1.7rem;
  position: absolute;
  bottom: 0;
}

footer a,
footer a:link,
footer a:visited {
  color: #c2cfd5;
  text-align: center;
}

.footer-caption > div {
  margin: 0.5rem auto 0rem auto;
  text-align: center;
}

.footer-caption {
  margin-top: 1.5rem;
  text-align: left;
  line-height: 1.62rem;
}

.footer-caption small {
  display: block;
}

.footer-caption .version-caption {
  line-height: 3rem;
  font-size: 1rem;
}

/* Navbar */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  width: 365px;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  font-size: 2em;
  line-height: 21px !important;
  margin-left: 0rem;
  margin-right: 0rem;
  height: 64px;
  padding: 1.3rem;
}

.navbar-brand > img {
  width: 100%;
  display: inline-block;
}

.navbar-default {
  background-color: rgb(255 255 255) !important;
  margin-bottom: 1rem;
  padding: 6px 0 0 0;
  margin: 0 auto 0 auto;
  width: 100%;
  z-index: 49;
  box-shadow: 0px 8px 11px -10px rgba(0, 0, 0, 0.36);
}

.navbar-default:before {
  border-top: 6px solid #2a72a4;
  content: " ";
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 50;
}

.navbar-default .container-fluid {
  background-color: transparent;
  z-index: 100;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  z-index: 100;
}

.navbar-default .navbar-nav > li > a.active {
  background-color: rgb(61, 61, 61);
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #90a1b7;
}

/* Table */
.table {
  margin-bottom: 0;
  table-layout: fixed;
}

.table__container {
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table__container--margin-bottom {
  margin-bottom: 1rem;
}

.table__body--overflow {
  overflow-y: auto;
  max-height: 500px;
}

.table__th {
  font-weight: bold;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.table__th--right {
  text-align: right;
}

.table__td {
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.428571;
}

.table__td--title {
  font-weight: bold;
  color: #217dbc;
}

.table__td--big {
  padding-top: 20px;
  padding-bottom: 20px;
}

.table__td--slim {
  padding-top: 8px;
  padding-bottom: 8px;
}

.table__td--xslim{
  padding-top: 5px;
  padding-bottom: 5px;
}

.table__td--top{
  padding-top: 12px;
  padding-bottom: 0;
}

.table__td--bottom{
  padding-top: 0;
  padding-bottom: 12px;
}

.table__td--big-top {
  padding-top: 20px;
  padding-bottom: 12px;
}

.table__td--big-bottom {
  padding-top: 12px;
  padding-bottom: 20px;
}

.table__td--right {
  text-align: right;
}

.table__td--padding-left {
  padding-left: 35px;
}

.table__td--word-break{
  word-wrap: break-word;
}

.table__row {
  border-bottom: 1px solid #ecf0f1;
}

.table__row--undisplay {
  display: none;
}

.table__hr {
  border-bottom: 1px solid #ecf0f1;
  margin-left: -15px;
  margin-right: -15px;
}

.table__content {
  border-bottom: 1px solid #ecf0f1;
  display: none;
}

.table__thead {
  background: #F1F1F1;
  color: #555555;
}

.table__thead--padding-right {
  padding-right: 15px;
}

.table__tooltip,
.table__tooltip:hover {
  color: #555555;
  margin-left: 10px;
}

.table__tooltip:focus{
  color: #000000;
  outline: none;
}

.table__arrow {
  padding-right: 1em;
  display: inline-block;
  width: 25px;
}

.table__dropdown-toggle {
  color: #788d90 !important;
}

.table__dropdown-toggle:hover,
.table__dropdown-toggle:focus {
  color: #3598db !important;
}

.table__dropdown-menu {
  left: auto;
}

.table__dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 79px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.table__dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 80px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.table__dropdown-link {
  color: #3a3a3a !important;
}

.table__dropdown-link:hover,
.table__dropdown-link:focus {
  text-decoration: none;
  color: #ffffff !important;
  background-color: #3598db !important;
}

.table__th--term,
.table__td--term {
  width: 63%;
}

.table__th--source,
.table__td--source {
  width: 22%;
}

.table__th--type,
.table__td--type {
  width: 15%;
}

.table__toggle {
  padding: 0 .5rem;
}

.table__search-container {
  padding-top: 10px;
  padding-bottom: 0px;
}

.table-striped > tbody > tr {
  background-color: #fff;
}

.thead__row {
  display: flex;
  align-items: center;
}

.checkbox-th{
  margin: 0;
  display: inline-block;
}

.btn-th {
  display: inline-block;
  padding: 3px 10px;
  font-size: 1em;
  margin-left: 2em;
  background-color: #fff;
  border: 1px solid #dce4ec;
}

.btn-th:hover,
.btn-th:focus,
.btn-th:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  outline: none;
}

.btn-th__icon {
  padding-right: 5px;
  font-weight: bold;
}

/* Checkbox */
.checkbox__container {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.checkbox__label {
  margin-left: 20px;
  padding-left: 0 !important;
  position: relative;
  line-height: 2.5rem;
}

.checkbox__label--padding {
  padding-left: 0 !important;
}

.checkbox__btn {
  position: relative;
  display: block;
  border: 1px solid #dce4ec;
  background-color: #fff;
  border-radius: .25em;
  width: 2em;
  height: 2em;
  float: left;
  margin-right: .5em;
  cursor: pointer;
}

.checkbox__input {
  margin: 0 !important;
  position: absolute !important;
  top: 5px;
  left: 5px;
}

.checkbox__input + .checkbox__btn > .checkbox__icon  {
  opacity: 0;
}

.checkbox__input:checked + .checkbox__btn {
  background-color: #6A7676;
  border-color: #6A7676;
}
.checkbox__input:checked + .checkbox__btn > .checkbox__icon {
  opacity: 1;
  color: #fff;
}
.checkbox__input:disabled > .checkbox__btn {
  opacity: .5;
}

.checkbox__input:focus + .checkbox__btn {
  box-shadow: 0px 0px 4px 2px #c2c2c2;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox__icon {
  position: absolute;
  font-size: 0.9em;
  line-height: 0;
  top: 50%;
  left: 26%;
}

/* Indicator */
.indicator {
  position: relative;
  padding-bottom: 36%;
}

.indicator__content {
  width: 60%;
  min-width: 550px;
  text-align: center;
  margin: auto;
  padding: 1em 0;
  background-color: #fff;
  color: #535A60;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.indicator--has-error {
  color: #c74060;
}

.indicator__term {
  color: #2a72a4;
}

.indicator__card {
  margin: 2em auto;
  max-width: 450px;
  text-align: left;
}

.indicator__mean-span {
  color: #c74060;
  font-size: 1.1em;
}

.indicator__suggestion {
  font-style: italic;
}

.indicator__suggestion-p {
  margin: 0.8em 0;
}

/* Tooltip */
.custom-tooltip .tooltip-arrow:before{
  border-bottom-color: #cccccc !important;
}

.custom-tooltip .tooltip-inner {
  color: #3a3a3a;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.custom-tooltip {
  --bs-tooltip-bg: #fdfdfd;
  --bs-tooltip-color: #3a3a3a; 
  --bs-tooltip-font-size: 1.2rem;
  --bs-tooltip-padding-x: 1rem
}

/* Pagination Footer */
.pagination-footer {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Alerts */
.alert__error {
  visibility: hidden;
  position: fixed;
  top: 10em;
  left: 50%;
  transform: translateX(-50%);
  color: #cc426c;
  font-weight: bold;
  padding: 1rem 1rem;
  border: 1px solid #cc426c !important;
  border-left: solid 5px #cc426c!important;
  background-color: #fff6f9 !important;
  z-index: 999;
  border-radius: initial;
}

.alert__suggest {
  visibility: hidden;
  position: fixed;
  top: 10em;
  left: 50%;
  transform: translateX(-50%);
  color: #166aa2;
  font-weight: bold;
  padding: 1rem 1rem;
  border: 1px solid #166aa2 !important;
  border-left: solid 5px #166aa2 !important;
  background-color: #daf2fb !important;
  z-index: 999;
  border-radius: initial;
}

.alert__show {
  visibility: visible;
  animation-name: fadeInDownUp;
  animation-duration: 4s;
}

/* Site Alert */
.mvs-site-alert {
  font-weight: normal;
  display: block;
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.mvs-site-alert .mvs-alert {
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 1280px;
  padding: 16px 0;
}

.mvs-site-alert .mvs-alert .mvs-alert__body {
  margin: 0;
  padding: 0 16px 0 60px;
  font-size: 16px;
  line-height: 1.6;
  color: black;
  position: relative;
}

@media (min-width: 1024px) {
  .mvs-site-alert .mvs-alert .mvs-alert__body {
    padding-left: 76px;
    padding-right: 32px;
  }
}

.mvs-site-alert--error .mvs-alert .mvs-alert__body {
  background-color: #b60d43;
  color: #fff;
}

.mvs-site-alert,
.mvs-site-alert .mvs-alert__nci-button--close,
.mvs-site-alert .mvs-alert__nci-button--toggle {
  background-color: #d4e7f2;
  color: #1b1b1b;
}

.mvs-site-alert--info,
.mvs-site-alert--info .mvs-alert__nci-button--close,
.mvs-site-alert--info .mvs-alert__nci-button--toggle {
  background-color: #d4e7f2;
  color: #000;
}

.mvs-site-alert--emergency,
.mvs-site-alert--emergency .mvs-alert__nci-button--close,
.mvs-site-alert--emergency .mvs-alert__nci-button--toggle {
  background-color: #b60d43;
  color: #e6e6e6;
}

.mvs-site-alert--error,
.mvs-site-alert--error .mvs-alert__nci-button--close,
.mvs-site-alert--emergency .mvs-alert__nci-button--toggle {
  background-color: #b60d43;
  color: #e6e6e6;
}

.mvs-site-alert .mvs-alert .mvs-alert__body:before {
  background: none;
  background-color: #1b1b1b;
  content: "";
  display: block;
  height: 26px;
  left: 16px;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptMSAxNWgtMnYtNmgydjZ6bTAtOGgtMlY3aDJ2MnoiLz48L3N2Zz4=),
    linear-gradient(transparent, transparent);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptMSAxNWgtMnYtNmgydjZ6bTAtOGgtMlY3aDJ2MnoiLz48L3N2Zz4=),
    linear-gradient(transparent, transparent);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 26px 26px;
  mask-size: 26px 26px;
  position: absolute;
  top: 0;
  width: 26px;
}

@media (min-width: 1024px) {
  .mvs-site-alert .mvs-alert .mvs-alert__body:before {
    left: 32px;
  }
}

.mvs-site-alert--emergency .mvs-alert .mvs-alert__body:before,
.mvs-site-alert--error .mvs-alert .mvs-alert__body:before {
  background-color: #e6e6e6;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptMSAxNWgtMnYtMmgydjJ6bTAtNGgtMlY3aDJ2NnoiLz48L3N2Zz4=),
    linear-gradient(transparent, transparent);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptMSAxNWgtMnYtMmgydjJ6bTAtNGgtMlY3aDJ2NnoiLz48L3N2Zz4=),
    linear-gradient(transparent, transparent);
}

/* Site Alert Headings and Links */
.mvs-site-alert .mvs-alert .mvs-alert__body h2 {
  font-size: 18px;
  margin: 0;
  color: black;
  line-height: 1.6;
}

.mvs-site-alert--emergency .mvs-alert .mvs-alert__body h2,
.mvs-site-alert--error .mvs-alert .mvs-alert__body h2 {
  color: #e6e6e6;
}

.mvs-site-alert .mvs-alert .mvs-alert__body a,
.mvs-site-alert .mvs-alert .mvs-alert__body a:visited {
  color: black;
}

.mvs-icon {
  fill: currentColor;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 16px;
}

.mvs-site-alert .mvs-alert .mvs-alert__nci-button {
  border: none;
  cursor: pointer;
  line-height: 1.6;
}

.mvs-site-alert .mvs-alert .mvs-alert__nci-button--close {
  display: flex;
  margin: 4px 24px auto auto;
}

.mvs-site-alert .mvs-alert .mvs-alert__nci-button--close svg {
  height: 16px;
  pointer-events: none;
  width: 16px;
}

/* Loading Animation */
.particle.grey {
  background-color: #6b6262;
}

.particle.red {
  background-color: #c31547;
}

.particle.blue {
  background-color: #123e57;
}

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.35s ease;
}

.spinParticleContainer {
  margin-right: 10px;
  width: 4rem;
  height: 4rem;
  display: block;
  -webkit-animation: Rotate 2s infinite linear;
  animation: Rotate 2s infinite linear;
}

.spinParticle.endLoad {
  -webkit-animation: BlowUp 1s 1 ease-out;
  animation: BlowUp 1s 1 ease-out;
}

.spinParticle {
  width: 4rem;
  height: 4rem;
  position: fixed;
  left: 50%;
  top: 40%;
  z-index: 900000;
  display: none;
  -moz-animation: Rotate 2s infinite linear;
  -webkit-animation: Rotate 2s infinite linear;
  animation: Rotate 2s infinite linear;
}

.particle {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: Scale 2s infinite ease-in-out;
  animation: Scale 2s infinite ease-in-out;
}

.other-particle {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.other-other-particle {
  top: 0;
  bottom: auto;
  margin-left: 2.2rem;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes Scale {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
}

@keyframes Scale {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes BlowUp {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
}

@keyframes BlowUp {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
}

/* skip-main */
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  top: 0;
  left: 0;
  color: #636363;
  padding: 5px;
  width: 200px;
  height: auto;
  text-align: center;
  font-size: 1.2em;
  z-index: 99999;
  background-color: white;
}

.navbar-nav {
  --bs-navbar-nav-link-padding-x: 1.5rem;
  --bs-navbar-nav-link-padding-y: 1.5rem;
}

/* Table border */
table {
  border: 1px solid #e6e6e6;
}

/* Responsive Styles */
@media screen and (max-width: 1280px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1140px;
  }
}

@media screen and (max-width: 925px) {
  .navbar-default .navbar-nav > li > a {
    padding-left: 1rem;
  }
  .navbar-default .navbar-nav > li > a.active {
    border: none;
    background-color: transparent;
    border-left: solid 5px;
    border-left-color: #6b6262;
    color: #6b6262;
  }
}

@keyframes fadeInDownUp {
  from {
    opacity: 0;
    transform: translate3d(-50%, -100%, 0);
  }
  20% {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-50%, -100%, 0);
  }
}

/*  Icons */
/* .icon-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 1792 1536" xmlns="http://www.w3.org/2000/svg"><path transform="translate(0, 1192) rotate(180) scale(-1, 1)" d="M1671 970q0 -40 -28 -68l-724 -724l-136 -136q-28 -28 -68 -28t-68 28l-136 136l-362 362q-28 28 -28 68t28 68l136 136q28 28 68 28t68 -28l294 -295l656 657q28 28 68 28t68 -28l136 -136q28 -28 28 -68z" fill="currentColor" /></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
} */
