table.treetable {
  font-size: 1em;
  line-height: 1;
}

table.treetable tr{
  border: 1px solid #e6e6e6;
}
table.treetable tr td {
  padding-left: 15px;
}

table.treetable tr.expanded span.indenter a:before {
  font-family: FontAwesome;
  content: "\f106";
}

table.treetable tr.collapsed span.indenter a {
  position: relative;
  left: -5px;
}

table.treetable tr.collapsed span.indenter a:before {
  font-family: FontAwesome;
  content: "\f107";
}

table.treetable tr.expanded span.indenter a {
  position: relative;
  left: -5px;
}

table.treetable tr.expanded span.indenter a:before {
  font-family: FontAwesome;
  content: "\f106";
}


.treeview , .treeview ul {
  list-style: none;
  padding: 0;
} 

.treeview .parent > ul {
  display: none;
}

.treeview__row {
  border-bottom: 1px solid #ecf0f1;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.428571;
}

.folder .treeview__trigger {
  margin-left: 20px;
}

.property .treeview__trigger {
  margin-left: 40px;
}

.value .treeview__col:first-child {
  padding-left: 90px;
}

.treeview__trigger {
  padding-left: 8px;
  padding-right: 8px;
}

.treeview__col {
  display: inline-block;
}