html {
  /* font-size: 62.5%; 1rem = 10px */
  font-size: 10px;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(249, 249, 249);
  color: #3a3a3a;
  line-height: 2rem;
}

a,
a:link,
a:visited {
  color: #1a527a;
  text-decoration: none;
}

.parent-container {
  position: relative;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  min-height: 100vh;
}

.container {
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.main-container {
  min-height: calc(100vh - 283px);
  padding: 2rem;
}

/* skip-main */

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  top: 0;
  left: 0;
  color: #636363;
  padding: 5px;
  width: 200px;
  height: auto;
  text-align: center;
  font-size: 1.2em;
  z-index: 99999;
  background-color: white;
}

.navbar-nav {
  --bs-navbar-nav-link-padding-x: 1.5rem;
  --bs-navbar-nav-link-padding-y: 1.5rem;
}

.navbar > .container-fluid .navbar-brand {
  font-size: 2em;
  line-height: 21px !important;
  margin-left: 0rem;
  margin-right: 0rem;
  height: 64px;
  width: 365px;
  padding: 1.3rem;
}

.navbar-brand > img {
  width: 100%;
  display: inline-block;
}

.navbar-default {
  /* background: transparent; */
  background-color: rgb(255 255 255) !important;
  margin-bottom: 1rem;
  padding: 6px 0 0 0;
  margin: 0 auto 0 auto;
  width: 100%;
  /* height: 64px; */
  z-index: 49;
  -webkit-box-shadow: 0px 8px 11px -10px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 8px 11px -10px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 8px 11px -10px rgba(0, 0, 0, 0.36);
}

.navbar-default:before {
  border-top: 6px solid #2a72a4;
  content: " ";
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 50;
}

.navbar-default .container-fluid {
  background-color: transparent;
  z-index: 100;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  z-index: 100;
}

.navbar-default .navbar-nav > li > a.active {
  background-color: rgb(61, 61, 61);
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #90a1b7;
}

/* Table */

table {
  border: 1px solid #e6e6e6;
}

/* Footer */

footer {
  background-color: #123e57;
  border-top: 6px solid #8c8686;
  border-bottom: none;
  color: #97abb6;
  padding: 0.5rem 3rem;
  z-index: 100;
  width: 100%;
  margin: 0rem 0rem 0.5rem 0rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

footer a,
footer a:link,
footer a:visited {
  color: #c2cfd5;
  text-align: center;
}

.footer-caption > div {
  margin: 0.5rem auto 0rem auto;
  text-align: center;
}

.footer-caption {
  margin-top: 1.5rem;
  text-align: left;
  line-height: 1.62rem;
}

.footer-caption small {
  display: block;
}

.footer-caption .version-caption {
  line-height: 3rem;
  font-size: 1rem;
}

/* Loading Animation*/
.particle.grey {
  background-color: #6b6262;
}

.particle.red {
  background-color: #c31547;
}

.particle.blue {
  background-color: #123e57;
}

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.35s ease;
}

.spinParticleContainer {
  margin-right: 10px;
  width: 4rem;
  height: 4rem;
  display: block;
  -webkit-animation: Rotate 2s infinite linear;
  animation: Rotate 2s infinite linear;
}

.spinParticle.endLoad {
  -webkit-animation: BlowUp 1s 1 ease-out;
  animation: BlowUp 1s 1 ease-out;
}

.spinParticle {
  width: 4rem;
  height: 4rem;
  position: fixed;
  left: 50%;
  top: 40%;
  z-index: 900000;
  /* display: block; */
  display: none;
  -moz-animation: Rotate 2s infinite linear;
  -webkit-animation: Rotate 2s infinite linear;
  animation: Rotate 2s infinite linear;
}

.particle {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #000;
  border-radius: 100%;

  -webkit-animation: Scale 2s infinite ease-in-out;
  animation: Scale 2s infinite ease-in-out;
}

.other-particle {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.other-other-particle {
  top: 0;
  bottom: auto;
  margin-left: 2.2rem;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes Scale {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
}

@keyframes Scale {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes BlowUp {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
}

@keyframes BlowUp {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
}

@media screen and (max-width: 1280px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1140px;
  }
}

@media screen and (max-width: 925px) {
  .navbar-default .navbar-nav > li > a {
    padding-left: 1rem;
  }

  .navbar-default .navbar-nav > li > a.active {
    border: none;
    background-color: transparent;
    border-left: solid 5px;
    border-left-color: #6b6262;
    color: #6b6262;
  }
}
