                </div>
           </div>
        </div>

    <footer id="docs-footer">
      <div class="row">
        <div class="col-md-12 footer-caption" role="contentinfo">
          <div>
            <a href="https://portal.gdc.cancer.gov" target="_blank">Site Home</a>
            | <a href="http://www.cancer.gov/global/web/policies" target="_blank">Policies</a>
            | <a href="http://www.cancer.gov/global/web/policies/accessibility" target="_blank">Accessibility</a>
            | <a href="http://www.cancer.gov/global/web/policies/foia" target="_blank">FOIA</a>
            | <a href="https://www.hhs.gov/vulnerability-disclosure-policy" target="_blank">HHS Vulnerability Disclosure</a>
          </div>
          <div>
            <a href="http://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services</a>
            | <a href="http://www.nih.gov/" target="_blank">National Institutes of Health</a>
            | <a href="http://www.cancer.gov/" target="_blank">National Cancer Institute</a>
            | <a href="http://www.usa.gov/" target="_blank">USA.gov</a>
          </div>
          <div>
            NIH... Turning Discovery Into Health ®
          </div>

          <div class="version-caption">
            GDC Docs Version 1.0
          </div>
        </div>
      </div>
    </footer>

    <script src="./assets/js/lodash.js"></script>
    <script src="./assets/js/jquery-1.12.0.min.js"></script>
    <script src="./assets/js/bootstrap-3.3.6.min.js"></script>
    <script src="./assets/js/highlight.pack.js"></script>
    <script src="./assets/js/lunr-0.5.7.min.js"></script>
    <script src="./assets/js/jquery.highlight-4.closure.js"></script>
    <script src="./assets/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
    <script src="./assets/js/jquery.scrollUp.min.js"></script>

    <!-- GDCMVS JS-->
    <script type="text/javascript" src="./lib/js/jquery-ui.min.js"></script>
    <script src="./lib/js/jsrender.min.js"></script>
    <script src="./lib/js/pagination.min.js"></script>
    <script src="./dist/bundle.js"></script>
  </div>
</body>
</html>
