<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <link rel="canonical" href="https://gdc-mvs.nci.nih.gov/">
  <link rel="shortcut icon" href="./assets/img/favicon.ico">
  <link rel="apple-touch-icon" href="./assets/img/apple-touch-icon.png">

  <title>GDC Metadata Validation Services</title>

  <link href="./assets/css/bootstrap-custom.css" rel="stylesheet">
  <link href="./assets/css/font-awesome-4.5.css" rel="stylesheet">
  <link href="./assets/css/base.css" rel="stylesheet">
  <link href="./assets/css/gdc-common.css" rel="stylesheet">

  <!-- GDCMVS CSS-->
  <link rel="stylesheet" type="text/css" href="./lib/css/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="./lib/css/pagination.min.css" />
  <link rel="stylesheet" type="text/css" href="./dist/styles.css" />

  <script src="https://assets.adobedtm.com/6a4249cd0a2c/785de09de161/launch-70d67a6a40a8.min.js" async></script>
</head>

<body>
  <a class="skip-main" href="#main">Skip to main content</a>
  <div class="parent-container">

    <section class="alert mvs-site-alert mvs-site-alert--info" aria-label="Site Alert info Message" role="alert">
      <div class="mvs-alert">
        <div class="mvs-alert__body">
          <p style="margin: 0px;">The EVS website hosts biomedical terminologies that NCI does not own or control. Some of
            these sources may contain gender-related terminology that does not comply with Executive Order 14168.</p>
        </div>
      </div>
    </section>

    <div class="navbar navbar-default" role="navigation" aria-label="Site Navigation">

      <div class="container">
        <!-- Collapsed navigation -->
        <div>
          <!-- Main title -->
          <a class="navbar-brand" href="/gdc/" title="NIH National Cancer Institute GDC Metadata Validation Services">
            <img src="./assets/img/nih-header-logo-color.png" alt="NIH National Cancer Institute GDC Metadata Validation Services">
            <span class="hidden">NIH National Cancer Institute GDC Metadata Validation Services</span>
          </a>
          <!-- Expander button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
          <!-- Main navigation -->
          <ul class="nav navbar-nav nav-full">
            <li class="active">
              <a class="active" href="/gdc/" title="API">Home</a>
            </li>
            <li>
              <a href="https://docs.gdc.cancer.gov/API/Users_Guide/Getting_Started/" title="API" target="_blank">API</a>
            </li>
            <li>
              <a href="https://docs.gdc.cancer.gov/Data_Portal/Users_Guide/getting_started/" title="Data Portal" target="_blank">Data Portal</a>
            </li>
            <li>
              <a href="https://docs.gdc.cancer.gov/Data_Submission_Portal/Users_Guide/Checklist/" title="Data Submission Portal" target="_blank">Data Submission Portal</a>
            </li>
            <li>
              <a href="https://docs.gdc.cancer.gov/Data_Transfer_Tool/Users_Guide/Getting_Started/" title="Data Transfer Tool" target="_blank">Data Transfer Tool</a>
            </li>
            <li>
              <a href="https://docs.gdc.cancer.gov/Data_Dictionary/" title="Data Dictionary" target="_blank">Data Dictionary</a>
            </li>
            <li>
              <a href="https://docs.gdc.cancer.gov/Data/Introduction/" title="Data" target="_blank">Data</a>
            </li>
            <li>
              <a href="https://docs.gdc.cancer.gov/Encyclopedia/" title="Encyclopedia" target="_blank">Encyclopedia</a>
            </li>

            <li class="menu-bar"></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="docs-container" class="container">
      <div data-current-page="GDCMVS" id="body">
        <div class="col-md-12 main-container" role="main" id="main" tabindex="-1" style="border-left: none;">
