<div class="container table__container">
  <div class="table__thead row">
    <div class="col-xs-4">
      <div class="table__th">Name</div>
    </div>
    <div class="col-xs-4">
      <div class="table__th">Description</div>
    </div>
    <div class="col-xs-4">
      <div class="table__th table__th--right">
        <div class="checkbox checkbox-th">
          <label class="checkbox__label">
            <input class="checkbox__input" id="trs-checkbox" type="checkbox" value="">
            <span class="checkbox__btn">
              <i class="checkbox__icon fa fa-check"></i>
            </span> Show all values
          </label>
        </div>
        <button type="button" id="trs_toggle" class="btn btn-th" data-toggle="button" aria-pressed="false" autocomplete="off">
          <i class="btn-th__icon fa fa-angle-down"></i> Expand All
        </button>
      </div>
    </div>
  </div>
  <div class="table__body table__body--overflow row" style="max-height: {{:options.height}}px;">
    <div class="col-xs-12">
      <ul id="treeview" class="treeview">
        {{for trs}}
        <li class="treeview__{{:type}} treeview__parent">
          <div class="treeview__row row">
            <div class="treeview__col col-xs-4">
              <span class="treeview__indenter">
                <a href="#" class="treeview__toggle" aria-label="expand">
                  <i class="fa fa-angle-down"></i>
                </a>
              </span>
              <a href="https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-entity-list&anchor={{if category == 'data_file' || category == 'metadata_file'}}submittable_data_file{{else}}{{:category}}{{/if}}" target="_blank">
                {{:category}} {{if length !== undefined}}({{:length}}){{/if}}
              </a>
            </div>
            <div class="treeview__col col-xs-8"></div>
          </div>
          <ul class="treeview__ul">
            {{for nodes}}
            <li class="treeview__{{:type}} treeview__parent">
              <div class="treeview__row row">
                <div class="treeview__col col-xs-4">
                  <span class="treeview__indenter">
                    <a href="#" class="treeview__toggle" aria-label="expand">
                      <i class="fa fa-angle-down"></i>
                    </a>
                  </span>
                  <a href="https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-definition-view&id={{:node}}" target="_blank">
                    {{:node}} {{if length !== undefined}}({{:length}}){{/if}}
                  </a>
                </div>
                <div class="treeview__col col-xs-8">{{:node_desc}}</div>
              </div>
              <ul class="treeview__ul">
                {{for properties}}
                <li class="treeview__{{:type}} treeview__parent">
                  <div class="treeview__row row">
                    <div class="treeview__col col-xs-4">
                      <span class="treeview__indenter">
                        {{if hl_values.length || all_values.length}}
                        <a href="#" class="treeview__toggle" aria-label="expand">
                          <i class="fa fa-angle-down"></i>
                        </a>
                        {{/if}}
                      </span>
                      <a href="https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-definition-view&id={{:node}}&anchor={{:property}}" target="_blank">
                        {{:property}} {{if length !== undefined}}({{:length}}){{/if}}
                      </a>
                    </div>
                    <div class="treeview__col col-xs-8">{{:property_desc}}</div>
                  </div>
                  <ul class="treeview__ul treeview__ul--hl">
                  {{if hl_values.length}}
                    {{for hl_values}}
                    <li class="treeview__{{:type}}">
                      <div class="treeview__row row">
                        <div class="treeview__col col-xs-4">{{:value}}</div>
                        <div class="treeview__col col-xs-8"></div>
                      </div>
                    </li>
                    {{/for}}
                  {{else}}
                  {{/if}}
                  </ul>
                  <ul class="treeview__ul--all">
                  {{if all_values.length !== 0}}
                    {{for all_values}}
                    <li class="treeview__value">
                      <div class="treeview__row row">
                        <div class="treeview__col col-xs-4">{{:}}</div>
                        <div class="treeview__col col-xs-8"></div>
                      </div>
                    </li>
                    {{/for}}
                  {{/if}}
                  </ul>
                </li>
                {{/for}}
              </ul>
            </li>
            {{/for}}
          </ul>
        </li>
        {{/for}}
      </ul>
    </div>
  </div>
</div>
