.search-bar {
  width: 60%;
  min-width: 690px;
  margin: 0 auto;
}

.search-bar__group {
  box-shadow: 1px 7px 7px -6px #e3e3e3;
  border-radius: 4px;
}

.search-bar__group:hover {
  box-shadow:0 3px 8px 0 #e3e3e3;
}

.search-bar__input {
  padding-right: 60px;
}

.search-bar__options {
  padding: 0.85em 0;
  position: absolute;
  right: 160px;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.search-bar__option {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  color: #aaaaaa !important;
  height: 25px;
  width: 21px;
  padding: 0 0.1em;
}

.search-bar__option:hover,
.search-bar__option:focus{
  color: #555555 !important;
  outline: none;
}

.search-bar__btn {
  background-color: #6A7676;
  border-color: #6A7676;
  padding: 8px 45px;
  font-size: 17px;
  color: #ffffff;
}

.search-bar__btn:active:hover,
.search-bar__btn:hover,
.search-bar__btn:focus,
.search-bar__btn:active {
  background-color: #788787;
  border-color: #788787;
  outline: none;
}
.search-bar__input--has-error {
  border: 2px solid #c74060;
}

.search-bar__dropdown {
  right: -15px;
  left: auto;
  min-width: 85px;
  text-align: center;
}

.search-bar__dropdown > li > a {
  line-height: 1.2em;
  font-size: 0.9em;
  color: #3a3a3a;
}

.search-bar__dropdown > li > a:hover,
.search-bar__dropdown  > li > a:focus {
  background-color: #f0f0f0;
  color: #3a3a3a;
  outline: none;
}

.suggest {
  position: relative;
}
.suggest__listbox {
  width: calc(100% - 11.5em);
  display:none;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #fff;
  box-shadow: 0 2px 3px 3px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  position: absolute;
  top: 2px;
  left: 3px;
  z-index:100;
}
.suggest__object {
  line-height: 1.8em;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}
.suggest__object:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.suggest__name {
  margin: 0 0.9em;
}
.suggest__type {
  font-weight: bold;
  margin-right: 0.9em;
}
.suggest__listbox .selected {
  background-color: #f0f0f0;
}
.suggest__width {
  width: auto;
  visibility: hidden;
  position: fixed;
  overflow:auto;
  font-size: 1.2em;
}
.search-options {
  width: 60%;
  min-width: 690px;
  margin: 0 auto;
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ecf0f1;
}

.ref-box__link {
  margin: 0 1.25em 1.25em 0;
}
