<div class="container table__container">
  <div class="table__thead row table__thead--padding-right">
    <div class="table__th col-xs-2">Category / Node</div>
    <div class="table__th col-xs-2">Property</div>
    <div class="table__th col-xs-4">Description</div>
    <div class="table__th col-xs-2">GDC Property Values</div>
    <div class="table__th col-xs-2">caDSR CDE Reference</div>
  </div>
  <div class="table__body table__body--overflow row" style="max-height: {{:options.height}}px;">
    <div class="col-xs-12">
      {{for props}}
      <div class="table__row row">
        <div class="table__td col-xs-2">
          <a href="https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-entity-list&anchor={{if category == 'data_file' || category == 'metadata_file'}}submittable_data_file{{else}}{{:category}}{{/if}}" target="_blank">
            {{:category}}
          </a>
          <ul class="table__ul">
            <li class="table__li table__td--word-break">
              <a href="https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-definition-view&id={{:node}}" target="_blank">
                {{:node}}
              </a>
            </li>
          </ul>
        </div>
        <div class="table__td col-xs-2 table__td--word-break">
          <a href="https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-definition-view&id={{:nd}}&anchor={{:nm_link}}" target="_blank">
            {{:property}}
          </a>
        </div>
        <div class="table__td col-xs-4">{{:property_desc}}</div>
        <div class="table__td col-xs-2">
        {{if enum}}
          <a class="getGDCTerms" href="#" data-enum="{{:enum}}">See All Values</a><br>
          <a class="toCompare" href="#" data-enum="{{:enum}}"> Compare with User List</a>
        {{else type !== undefined}}
          type: {{:type}}
        {{/if}}
        </div>
        <div class="table__td col-xs-2">
        {{if cdeId !== undefined }}
          <a class="table-td-link" href="{{:cdeUrl}}" target="_blank">CDE ID - {{:cdeId}}</a>
        {{/if}}
        </div>
      </div>
      {{/for}}
    </div>
  </div>
</div>
