<div class="container table__container">
  <div class="table__thead row table__thead--padding-right">
    <div class="table__th col-xs-2">Category / Node</div>
    <div class="table__th col-xs-2">Property</div>
    <div class="table__th col-xs-4">Description</div>
    <div class="table__th col-xs-2">GDC Property Values</div>
    <div class="table__th col-xs-2">caDSR CDE Reference</div>
  </div>
  <div class="table__body table__body--overflow row" style="max-height: {{:options.height}}px;">
    <div class="col-xs-12">
      {{for props}}
      <div class="table__row row">
        <div class="table__td col-xs-2">
          {{if ~root.options.redirect === true}}
          <a href="https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-entity-list&anchor={{if ct == 'data_file' || ct == 'metadata_file'}}submittable_data_file{{else}}{{:ct}}{{/if}}" target="_blank">
            {{:ct}}
          </a>
          {{else}}
          <a href="/Data_Dictionary/viewer/#?view=table-entity-list&anchor={{if ct == 'data_file' || ct == 'metadata_file'}}submittable_data_file{{else}}{{:ct}}{{/if}}">
            {{:ct}}
          </a>
          {{/if}}
          <ul class="table__ul">
            <li class="table__li table__td--word-break">
              {{if ~root.options.redirect === true}}
              <a href="https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-definition-view&id={{:nd}}" target="_blank">
                {{:nd}}
              </a>
              {{else}}
              <a href="/Data_Dictionary/viewer/#?view=table-definition-view&id={{:nd}}">
                {{:nd}}
              </a>
              {{/if}}
            </li>
          </ul>
        </div>
        <div class="table__td col-xs-2 table__td--word-break">
          {{if ~root.options.redirect === true}}
          <a href="https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-definition-view&id={{:nd}}&anchor={{:nm_link}}" target="_blank">
            {{:nm}}
          </a>
          {{else}}
          <a href="/Data_Dictionary/viewer/#?view=table-definition-view&id={{:nd}}&anchor={{:nm_link}}">
            {{:nm}}
          </a>
          {{/if}}
        </div>
        <div class="table__td col-xs-4">{{:desc}}</div>
        <div class="table__td col-xs-2">
        {{if local}}
        <a class="getGDCData" href="#" data-ref="{{:ref}}">See All Values</a><br>
        <a class="toCompare" href="#" data-ref="{{:ref}}"> Compare with User List</a>
          {{if syn}}
          <br>
          <a class="getGDCTerms" href="#" data-ref="{{:ref}}">See All Terms</a>
          {{else}}
          {{/if}}
        {{else type != ""}}
        type: {{:type}}
        {{/if}}
        </div>
        <div class="table__td col-xs-2">
        {{if cdeId == ""}} {{else}}
        <a class="table-td-link" href="{{:cdeUrl}}" target="_blank">CDE ID - {{:cdeId}}</a>
          {{if local && cdeLen}}
          <br><a class="compareGDC" data-ref="{{:ref}}" data-cdeid="{{:cdeId}}" href="#"> Compare with GDC</a>
          <br><a class="getCDEData" href="#" data-cdeid="{{:cdeId}}">Values</a>
          {{else cdeLen}}
          <br><a class="getCDEData" href="#" data-cdeid="{{:cdeId}}">Values</a>
          {{else}} {{/if}}
        {{/if}}
        </div>
      </div>
      {{/for}}
    </div>
  </div>
</div>
